APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:7uYSAtUkaYAisTaTk6K+zJuKW1RNsk2G1zNXSzUYcGM=
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=miniyoutube
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=0895a3f9643993
MAIL_PASSWORD=aab2f8ff1852e8
MAIL_ENCRYPTION=tls